<div>
  <p>
    Hello <b>{{.Name}}</b>
  </p>

  <div>
    We have received a request to delete your account associated with this email address. If you initiated this request, please confirm by following the link:
  </div>

  <div>
    <a href="{{.Link}}"><button>Delete user</button></a>
  </div>

  <p>
    If you did not make this request, please contact our support team immediately so we can protect your account from unauthorized actions.
  </p>

  <p style="color: red">
    <b>Important</b>: If the deletion request is confirmed, all data associated with your account will be permanently deleted.
  </p>
</div>